PORT=3080
HOST=http://localhost:{PORT}

SSLKEY=key.pem
SSLCERT=cert.pem
SESSION_SECRET=some_secure_string_you_make_up
PORT=3080
SECUREPORT=3443

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=/auth/google/callback

FORECAST_API_KEY=your_forecast_api_key

WEBHOOK_API_KEY=some_secure_string_you_make_up