<%- include('../../partials/header') %>
<section class="content-block light-grey">
    <h1>Browse</h1>
    <ul class="button-list">
      <li><a href="/forecast/labels">Labels</a></li>
      <li><a href="/forecast/projects">Projects</a></li>
    </ul>
    <h1>Import</h1>
    <ul class="button-list">
      <li><a href="/forecast/import">Tasks</a></li>
    </ul>
</section>
<%- include('../../partials/footer') %>