<%- include('../../partials/header') %>
<section class="content-block light-grey">
    <h1>Browse</h1>
    <ul class="button-list">
      <li><a href="/hubspot/products">Products</a></li>
    </ul>
</section>
<%- include('../../partials/footer') %>