<%- include('../partials/header') %>
<div class="container box">
    <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-lock">Browse</span></h1>
        <ul>
          <li><a href="/labels">Labels</a></li>
          <li><a href="/projects">Projects</a></li>
        </ul>
    </div>
</div>
<%- include('../partials/footer') %>
